*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 46, 46);
    color: rgb(185, 185, 185);
}
h1{
    margin-top: 20px;
    text-align: center;
}
main{
    /* border: 2px solid blue; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 18px;
}
.image-container{
    /* border: 2px solid red; */
    padding: 30px;
    display: grid;
    justify-items: center;

}
.image-container img {
    width: 100%;
}
article{
    margin: 50px;
    box-shadow: 1px 7px 20px 0px black;
}